<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.markzone">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Markzone">
        <activity android:name=".tcupdatemarks"></activity>
        <activity android:name=".Homepage" />
        <activity android:name=".Stdmarkresult" />
        <activity android:name=".Stdmarkdetails" />
        <activity android:name=".Studentlogin" />
        <activity android:name=".EnterMmarks" />
        <activity android:name=".ViewMarks" />
        <activity android:name=".TcHomeActivity" />
        <activity android:name=".Teacherlogin" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>